 body {
    font-family: 'Roboto',sans-serif;
    margin:0;
    padding:0;
}
.header {
    display: flex;
    height:50px; 
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
        background-color: #1F2937;
        
     
     }
    ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
}

    
        a {
            color: #e5e7eb;
            text-decoration: none;
            font-size: 18px;
}
        h3 {
            color: #F9FAF8;
            font-size: 24px;
                

}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding:64px;
     
    
}
.hero-text {
    display: flex;
    flex-direction: column;
    margin-right:48px;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    
}
    h1 {
        font-size: 48px;
        color: #f9faf8;
        margin-bottom: 10px;
        font-weight: 900;
    }
    .hero-p {
        font-size: 18px;
        color: #e5e7eb;
        margin-top: 0px;
        margin-bottom: 6px;
         
    }
    .sign-up {
         
        padding: 8px 30px;
        font-size: 16px;
        color: #f9faf8;
        background-color: #3882f6;
        border: none;
        border-radius: 4px;
        cursor: pointer;
              
    }
    img.hero-image {
        width: 500px;
        height: 250px;
        margin-left: 48px;
         
    }

    .info-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 32px;
        background-color: #fcfdfd;
        padding-left: 64px; 
        padding-right: 64px;
        padding-bottom: 64px;
        justify-content: space-around;
    }
    .info-image {
        width: 200px;
        height: 200px;
        margin-top: 16px;
        border-color: #3882f6;
        border-width: 4px;
        border-style: solid;
        border-radius: 24px;
        
        
    }
    .imgtext {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 260px;
         
         
        
    }
    h2 {
        font-size: 36px;
        color: #1f2937;
        margin-bottom: 10px;
        font-weight: 900;
        text-align: center;
    }
    .info-p {
        font-size: 18px;
        color: #888888;
        margin-top: 0px;
        margin-bottom: 6px;
        text-align: center; 
          
    }
    .quote-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px;
        background-color: #e5e7eb;
        padding-left: 256px;
        padding-right: 256px;

    }
    .quote-text {
        font-size: 36px;
        color: #1f2937;
        text-align: center;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 0px;
    }
    .quote-author {
        font-size: 18px;
        color: #1f2937;
        font-weight: 700;
        align-self: flex-end;
    }

    .call2action {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 64px;
        background-color: #ffffff;
        height: 300px;
    }
    .call2action-header {
      background-color: #3882f6;
      border-radius: 8px;   
      padding: 48px 64px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;  
      gap: 16px;   
         
      flex-grow: 1;
    }
    .call2action-p {
        font-size: 18px;
        color: #ffffff;
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: center; 
        margin-top: 0px;
        
    }
    h4 {
        font-size: 24px;
        color: #f9faf8;
        margin-bottom: 0px;
        font-weight: 900;
        margin-bottom: 0px;
        margin-top: 0px;
    }





    .inv-signup {
        border-color:#F9FAF8;
        border-width: 2px;
        border-style: solid;
        border-radius: 4px;
        padding-bottom: 6px;
        padding-top: 6px; 
        background-color: #3882f6;    
        width: 128px;
        color:#F9FAF8;
        font-size: 16px;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1f2937;
        color:#e5e7eb; 
        padding: 16px;
    }